body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
}

section {
    margin: 50px 0;
    padding: 50px 0;
}

header {
    background: linear-gradient(rgb(94, 77, 189, 0.8), rgb(94, 77, 189, 0.8)), url('../img/hero-background.jpg') center;
    background-size: cover;
    height: 100vh;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-row {
    padding: 50px 0;
}

.header-row h3 {
    color: #fff;
    letter-spacing: 3px;
}

.logo {
    width: 350px;
}

.nav-web {
    float: right;
    margin-top: 1rem;
}

.nav-web li {
    display: inline-block;
    list-style: none;
}

.nav-web li a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-web li a:hover {
    color: #1c1d53;
    background-color: #ffffffe3;
    padding: 10px 20px;
    border-radius: 5px;
}


.hero-row {
    color: #fff;
}

.hero-row h1 {
    font-size: 56px;
    font-weight: 700;
}

.hero-row p {
    font-weight: 600;
    margin-top: 15px;
}

.hero-text {
    position: relative;
    top: 50px;
}

.hero-text a p {
    width: 175px;
    display: inline-block;
    text-align: center;
    background: #fff;
    padding: 15px 10px;
    color: #1c1d53;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 50px 5px #1c1d53;
    font-weight: 600;
}

.text-wrap h2 {
    font-weight: 600;
    color: #1c1d53;
}

.text-wrap p {
    margin: 25px 0;
    text-align: justify;
}

.text-wrap a p {
    width: 175px;
    display: inline-block;
    text-align: center;
    background: #5f4ccc;
    padding: 15px 10px;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 3px 4px 10px 1px #1c1d53;
    font-weight: 600;
}

.section-one img,
.section-two img{
    width: 100%;
}

.divider {
    width: 70%;
    margin: auto;
}

.divider hr {
    border: 0.5px solid #5f4ccc;
}

.footer-divider {
    width: 100%;
}

.footer-divider hr{
    border: 0.5px solid #8273dc;
}

.txt-welcome{
    text-shadow: 2px 2px 4px  rgba(0, 0, 0, 0.2);
}

.header-minor{
    height: 25vh;
}

@media (min-width: 1201px) {
    .hero-text {
        position: relative;
        top: 60px;
    }
}

footer {
    background-color: #5b4aca;
    padding: 75px 0px 0px 0px;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

footer img {
    width: 90%;
}

.footer-text {
    margin-top: 30px;
}

.footer-bottom-text {
    font-size: 12px;
    text-align: center;
}

.footer-icon p {
    display: inline-block;
}

.footer-icon i {
    margin-right: 10px;
}

.footer-social-icon a {
    margin-right: 15px;    
}

.footer-social-icon a:hover {
    color: #fff;
}

footer h6 {
    margin-bottom: 25px;
}

footer .row:first-child {
    margin-bottom: 25px;
}
