body {
    font-family: 'Montserrat', sans-serif;

}

header {
    background-image: linear-gradient(rgb(94, 77, 189, 0.8), rgb(94, 77, 189, 0.8)), url('../img/hero-background.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.header-row {
    padding: 50px 0;
}

.header-row h3 {
    color: #fff;
    letter-spacing: 3px;
}

.logo {
    width: 350px;
}

.nav-web {
    float: right;
    margin-top: 1rem;
}

.nav-web li {
    display: inline-block;
    list-style: none;
}

.nav-web li a {
    text-decoration: none;
    color: #fff;
    margin: 0 10px;
    padding: 10px 20px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-web li a:hover {
    color: #1c1d53;
    background-color: #ffffffe3;
    padding: 10px 20px;
    border-radius: 5px;
}


.hero-row {
    color: #fff;
}

.hero-row h1 {
    font-size: 56px;
    font-weight: 700;
}

.hero-row p {
    font-weight: 600;
    margin-top: 15px;
}

.hero-text {
    position: relative;
    top: 50px;
}

@media (min-width: 1200px) {

    .hero-text {
    position: relative;
    top: 100px;
    }
}

.hero-text a p {
    width: 175px;
    display: inline-block;
    text-align: center;
    background: #fff;
    padding: 15px 10px;
    color: #1c1d53;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 5px 5px 50px 5px #1c1d53;
}